.tree-container {
  border: 1px solid #d8dfe6;
  border-radius: 2px;

  padding: 20px;
  width: 500px;
  background-color: white;
}

.no-results {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #aaadaf;
}
